* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
 
}

.page1 {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image:url(./img/hand1-removebg-preview.png) ;
    background-position: center;
    background-repeat: no-repeat;
     */
}

.navbar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.leftnav,
.rightnav {
  background-color: white;
  border-radius: 30px;
  width: 20%;
  display: flex;
  align-items: center;
  height: 80%;
  margin: 2% 5%;
}

.navbar > .leftnav > ul,
.rightnav > ul {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 100%;
  padding: 10px;
}

.navbar > .leftnav > ul > li:first-child {
  background-color: #000;
  color: #f3f3f3;
  font-size: 20px;
  border-radius: 50%;
  font-weight: 600;
  padding: 5px;
}

.rightnav > ul > li:last-child {
  background: #000;
  color: white;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 25px;
}

.contentp1 {
  height: 90vh;
  width: 100vw;
  display: flex;
  
}

.contentp1 > .contentleft {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 17%;
  padding-left: 2%;
}

.contentp1 > .contentleft > p:first-child {
  font-size: 20px;
}

.contentp1 > .contentleft > h2:last-child {
  font-size: 12vw;
  line-height: 80%;
  font-weight: 500;
  letter-spacing: .5vw;
  margin-top: 10px;
}

.contentp1 > .contentright {
  height: 100%;
  width: 50%;
  padding-left: 8%;
  padding-top: 5%;
}
.contentp1 > .contentright>img{
    height: 100%;
    width: 100%;
}

.page2 {
  width: 100vw;
  height: 100vh;

  font-size: 80px;
  line-height: 80%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2 > .contentp2 {
  width: 50%;

  line-height: 90%;
}

.page2 > .contentp2 > p > span > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -30px;
}

.page2 > .contentp2 > p > span:first-child {
  margin-left: 10px;
}

.page3 {
  height: 100vh;
  width: 100vw;

  display: flex;
}

.page3leftcontent {
  width: 45%;
  height: 100%;
}

.page3leftcontent > img {
  height: 100%;
  width: 95%;
  object-fit: cover;
  object-position: center;
  padding: 20px;
  border-radius: 35px;
 
}

.page3rightcontent {
  width: 65%;
  height: 100%;
  /* background: #000; */
 
}

.page3rightcontent > .contentup {
  height: 60%;
  width: 83%;
 
 
}

.page3rightcontent > .contentdown {
  height: 40%;
  width: 100%;
  display: flex;

}

.contentup_p3 {
  display: flex;
  /* justify-content: flex-start; */
  padding-top: 5vh;
  gap: 40vh;
  align-items: flex-start;
  padding-bottom: 3vh;
  border-bottom: 1px solid rgb(182, 180, 180);
}
.contentup_p3>p{
    font-size: 3vh;
    color: rgb(80, 80, 83);
    width: 50%;
}
.contentup_p3>h1{
    font-size: 5vh;
    color: rgb(10, 10, 10);
    width: 60%;
   
}

.contentdown > .contentrightdown {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  padding-bottom: 1%;

}

.contentdown > .contentleftdown {
  margin: 20px;
  width: 30%;
  height: 80%;
  background-color: rgb(30, 210, 132);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #f3f3f3;
}
.contentrightdown{
    font-size: 1.3vw;
    color: rgb(81, 80, 80);
}
.contentdown > .contentleftdown>h1{
    font-size: 4vw;
}
@media only screen and  ( max-width:600px) {
    .contentleft{
        width: 100%;
    }
   .contentp1 {
       display: flex; 
       flex-direction: column;
       align-items: center;
       width: 70%;
       margin-top: 5vh;
    }
    .navbar {
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
     flex-direction: column;
     gap: 7px;
      
    }
    .leftnav,
.rightnav {
  background-color: white;
  border-radius: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  height: 80%;
  margin: 2% 5%;
}
.page2 {
  width: 100vw;
  height: 100vh;
  font-size: 10vh;
  line-height: 80%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.page3leftcontent {
  width: 100%;
  height: 100%;
}
.page3rightcontent {
  width: 100%;
  height: 100%;
  /* background: #000; */
 
}

.page3rightcontent > .contentup {
  height: 100%;
  width: 83%;
 
 
}

.page3rightcontent > .contentdown {
  height: 40%;
  width: 100%;
  display: flex;

}

.contentup_p3 {
  display: flex;
  /* justify-content: flex-start; */
  padding-top: 5vh;
  gap: 20vh;
  align-items: flex-start;
  padding-bottom: 3vh;
  border-bottom: 1px solid rgb(182, 180, 180);
}
.contentup_p3>p{
    font-size: 3vh;
    color: rgb(80, 80, 83);
    width: 70%;
    
}
.contentup_p3>h1{
    font-size: 5vh;
    color: rgb(10, 10, 10);
    width: 40%;
   
}

.contentdown > .contentrightdown {
  width: 65%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  padding-bottom: 1%;
  font-size: 3vh;

}

.contentdown > .contentleftdown {
  margin: 20px;
  width: 30%;
  height: 80%;
  background-color: rgb(30, 210, 132);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #f3f3f3;
}
.contentrightdown{
    font-size: 1.3vw;
    color: rgb(81, 80, 80);
}
.contentdown > .contentleftdown>h1{
    font-size: 4vw;
}
   }